@model dynamic
<br /><br />
<div id="battleDiv">
    <table>
        <tbody>
            <tr>
                <td height="200px" style="border-right:black 5px solid; width: 200px; border-bottom:black 5px solid; text-align: center"> <h1 data-bind="text: board[0]"></h1></td>
                <td height="200px" style="border-right:black 5px solid; width: 200px; border-bottom:black 5px solid; text-align: center"> <h1 data-bind="text: board[1]"></h1></td>
                <td height="200px" style=" border-bottom: black 5px solid; width: 200px; text-align: center"> <h1 data-bind="text: board[2]"></h1></td>
            </tr>
            <tr>
                <td height="200px" style="border-right:black 5px solid; width: 200px; border-bottom:black 5px solid; text-align: center"> <h1 data-bind="text: board[3]"></h1></td>
                <td height="200px" style="border-right:black 5px solid; width: 200px; border-bottom:black 5px solid; text-align: center"> <h1 data-bind="text: board[4]"></h1></td>
                <td height="200px" style=" border-bottom: black 5px solid; width: 200px; text-align: center"> <h1 data-bind="text: board[5]"></h1></td>
            </tr>
            <tr>
                <td height="200px" style="border-right:black 5px solid; width: 200px; text-align: center"> <h1 data-bind="text: board[6]"></h1></td>
                <td height="200px" style="border-right:black 5px solid; width: 200px;  text-align: center"> <h1 data-bind="text: board[7]"></h1></td>
                <td height="200px" style="width: 200px; text-align: center"> <h1 data-bind="text: board[8]"></h1></td>
            </tr>
        </tbody>

    </table>
    <br />
    <br />
    <div class="col-md-12">
        <span class="col-md-2">Games</span>
        <span class="col-md-offset-1" data-bind="text: games"></span>
    </div>
    <div class="col-md-12">
        <span class="col-md-2">X - Wins</span>
        <span class="col-md-offset-1" data-bind="text: xWins"></span>
    </div>
    <div class="col-md-12">
        <span class="col-md-2">O - Wins</span>
        <span class="col-md-offset-1" data-bind="text: oWins"></span>
    </div>
    <div class="col-md-12">
        <span class="col-md-2">Draws</span>
        <span class="col-md-offset-1" data-bind="text: draws"></span>
    </div>
    <br />
    <button class="btn btn-info" onclick="beginGame()">
        Next Game
    </button>
    <button class="btn btn-warning" onclick="resetGame()">Reset</button>

</div>

@section Scripts{
    <script>
        var model = @Html.Raw(Json.Encode(Model))


        var GameViewModel = function() {
            var self = this;
            self.board = model.Board;
            self.games = model.Games;
            self.xWins = model.Xwins;
            self.oWins = model.Owins;
            self.draws = model.Draws;

        }

        var vm = new GameViewModel();
        ko.applyBindings(vm, document.getElementById('battleDiv'));

        var beginGame = function() {
            document.location = "../Game/Index";
        }

        var resetGame = function() {
            document.location = "../Game/Reset";
        }






    </script>
}